@model PAWPMD.Mvc.Models.WidgetViewModel

<div class="container mt-4">
    <div class="row">
        @foreach (var widget in Model.Widgets)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title text-primary">@widget.Name</h5>
                        <p class="card-text">@widget.Description</p>
                        @if (widget.CategoryId == 2) 
                        {
                            var weatherWidget = Model.WeatherWidgets?.FirstOrDefault(w => w.WidgetId == widget.WidgetId);
                            if (weatherWidget != null)
                            {
                            
                                @Html.Partial("_WeatherWidget", weatherWidget)
                            }
                            else
                            {
                                <p class="text-warning">Weather data not available.</p>
                            }
                        }
                        else
                        {
                            <p class="text-danger">Unknown widget category: @widget.CategoryId</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>